body {
  background-size: 100%;
  background: url(images/marble-background-1.jpg) no-repeat center;
}

h1, p {
  text-align: center;
}

h1 {
  font-size: 4em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 900;
}

p {
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 0.3em;
  color: #1cbbba;
}

.container {
  width: 46em;
  margin: auto;
  display: block;
  /*background-color: blue;*/
}

.play-here-button {
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 2% 1.05%;
  padding: 0 0 0 1em;
  border: none;
  background-color: transparent;
  color: #ED3D88;
}

.play-here-button:hover {
  color: darkgrey;
}

#board {
  width: 45em;
  height: 40em;
  margin: 1% auto;
  display: block;
  border: 1em solid pink;
  border-radius: 5%;
  background-color: pink;
  box-shadow: 10px 10px 5px gray;

}

.circle {
  width: 3.7em;
	height: 3.7em;
  display: inline-block;
	background: #F0F0F0;
  border-radius: 50%;
  margin: 1%;
  padding: 2%;

}

.shadow {
  box-shadow: inset 8px 5px 5px #636363;
}

.teal-token {
  width: 3.7em;
	height: 3.7em;
	background: #1cbbba;
  border-radius: 50%;
  margin: 1%;
  padding: 2%;
  box-shadow: inset 3px 1px 1px #636363;
}


.blue-token {
  width: 3.7em;
	height: 3.7em;
	background: #0054A6;
  border-radius: 50%;
  margin: 1%;
  padding: 2%;
  box-shadow: inset 3px 2px 2px #4C4C4C;
}

#clear-board {
  margin: 4% auto;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 3em;
  background-color: #ED3D88;
  border: none;
  color: white;
}

#clear-board:hover {
  background-color: darkgrey;
  color: white;
}


/* responsive ? */
/*#board {
  width: 364px;
  height: 312px;
  margin: 5% auto;
  display: block;
  background-color: blue;
}

.squares {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  background-color: pink;
  text-align: center;
  border: 0.5px solid red;
}*/

/* animations - delay? */



/*/////////////////////////////////////////
// *** THOUGHTS AND PRACTICE CODE *** //
///////////////////////////////////////*/

/*.squares {
  width: 100px;
  height: 100px;
  display: inline-block;
  /*margin: 0 auto;
  text-align: center;
  background-color: pink;
  text-align: center;
  border: 0.5px solid green;/*just for visualization
}*/
/*
@keyframes winning {
  from {color: #1cbbba;}
  to {color: yellow;}
}

p {
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 0.3em;
  color: #1cbbba;
  animation-name: winning;
  animation-duration: 4s;
} */

/*create board (rectangle)*/
/*create new game button*/
/*create turns box*/
